# Flutter/Dart build files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.pyc

# Android-specific build files
android/app/key.properties
android/.gradle/
android/local.properties

# Python compilation cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
